@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header section start here  */
  header {
    margin-bottom: 7rem;
  }
  .header-content {
    width: 90%;
  }
  .banner-main-content {
    flex-direction: column;
    gap: 6rem;
    align-items: center;
  }
  .banner-main-text,
  .banner-main-photo {
    width: 95%;
  }
  nav {
    margin-bottom: 4.5rem;
    gap: 5rem;
  }
  .nav-ul {
    width: fit-content;
    gap: 0rem;
  }
  .banner-main-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-main-photo img {
    width: 80%;
  }
  .free-workout-video {
    right: 1.3rem;
    top: 5rem;
  }
  .video-tutorial {
    right: 16rem;
    top: 25rem;
  }
  /* header section end here  */

  /* main section start here  */
  .change-habits {
    width: 95%;
  }
  .change-habits-photo {
    grid-template-columns: 1fr 1fr;
  }
  .habits-photo {
    margin-bottom: 2.2rem;
  }
  .run-extra-miles {
    width: 95%;
    padding: 1rem;
  }
  .run-extra-text h1 {
    font-size: 1.9rem;
    font-weight: 900;
    line-height: 120%;
  }
  .training-experience-section {
    width: 95%;
    margin-bottom: 10rem;
  }
  .training-photo-4 p {
    left: 3rem;
    top: 11rem;
  }
  .training-photo-5 p {
    left: 2rem;
  }
  .bmi-main-section {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .bmi-outer-text {
    width: 95%;
  }
  .our-team {
    width: 95%;
  }
  .team-text {
    width: 90%;
  }
  .trainer-photo-1,
  .trainer-photo-2,
  .trainer-photo-3,
  .trainer-photo-4,
  .trainer-photo-5,
  .trainer-photo-6 {
    width: 160px;
    height: 280px;
    background-position: center;
  }
  .team-photo-name {
    gap: 1.5rem;
  }
  .trainer-photo-1 p span,
  .trainer-photo-2 p span,
  .trainer-photo-3 p span,
  .trainer-photo-4 p span,
  .trainer-photo-5 p span,
  .trainer-photo-6 p span {
    font-size: 15px;
  }
  .trainer-photo-1 p,
  .trainer-photo-2 p,
  .trainer-photo-3 p,
  .trainer-photo-4 p,
  .trainer-photo-5 p,
  .trainer-photo-6 p {
    left: 1rem;
  }
  .footer-content {
    width: 95%;
    flex-direction: column;
  }
  .first-column,
  .second-column {
    width: 100%;
  }
  .second-column {
    margin-right: 5.9rem;
  }
  footer {
    height: 45rem;
  }
  .footer-contents #small-bar {
    width: 95%;
  }
  /* main section end here  */
}
