@media screen and (max-width: 576px) {
  /* header section start here  */
  .nav-options {
    display: none;
  }
  .header-content {
    width: 85%;
  }
  .banner-main-content {
    flex-direction: column;
    gap: 6rem;
    align-items: center;
  }
  .banner-main-text,
  .banner-main-photo {
    width: 100%;
  }
  nav {
    margin-bottom: 4.5rem;
    gap: 4rem;
  }
  .nav-ul {
    width: fit-content;
    gap: 0rem;
  }
  .banner-main-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-main-photo img {
    width: 80%;
  }
  .free-workout-video {
    right: 1.3rem;
    top: 4rem;
  }
  .video-tutorial {
    right: 16rem;
    top: 19rem;
  }
  /* header section end here  */

  /* main section start here  */
  .change-habits {
    width: 95%;
  }
  .change-habits-photo {
    grid-template-columns: 1fr;
  }
  .habits-photo {
    margin-bottom: 2.1rem;
  }
  .run-extra-miles {
    flex-direction: column;
    margin-bottom: 6rem;
    margin-top: -3rem;
  }
  .run-extra-miles div {
    width: 100%;
  }
  /* main section end here  */
}
