/* shared items  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared items end */

/* header section */
/* header section end */

/* main section  */
/* main section end */

/* footer section  */
/* footer section end */