/* shared items  */
body {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17) 100%,
    rgba(119, 119, 119, 0) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
.a-white {
  color: white;
}
.a-black {
  color: black;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.font-white {
  color: white;
}
#hamburger {
  display: none;
}
/* shared items end */

/* header section */
header {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 2rem;
}
.header-content {
  width: 80%;
  height: 90%;
  margin: 3% auto;
}
/* nav section  */
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-ul {
  display: flex;
  gap: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 39px;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.1rem;
}
.nav-options li > a {
  border-radius: 46px;
  font-size: 1.01rem;
  font-weight: 400;
  padding: 0.4rem 1rem;
}
.nav-options li > a:hover {
  background: rgb(230, 83, 60);
}
.nav-options li > a:active {
  background: rgb(221, 107, 90);
}
.logo h1 {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}
/* nav section end */

/* header main section  */
.banner-main-content {
  height: 92%;
  color: white;
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
.banner-main-text,
.banner-main-photo {
  width: 50%;
}
.banner-main-text h1 {
  color: rgb(255, 255, 255);
  font-size: 3.8rem;
  font-weight: 900;
  margin-bottom: 1.8rem;
}
.banner-main-text h1 span {
  font-family: "Playwrite BE VLG", cursive;
}
.banner-main-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1.8rem;
}
.common-btn {
  padding: 1rem 2rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  margin-right: 0.7rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.download-app {
  padding: 1rem 2rem;
  border-radius: 42px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.video-tutorial {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 206px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 0.5rem;
  padding: 1rem;
  position: absolute;
  right: 22rem;
  top: 25rem;
}
.video-tutorial-circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.video-tutorial-text h1 {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 0.5rem;
}
.video-tutorial-text p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.free-workout-video {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 206px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  top: 7rem;
  background: rgba(255, 255, 255, 0.1);
}
.free-workout-video h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 0.4rem;
}
.free-workout-video p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
.banner-main-photo {
  position: relative;
}
/* header main section end */
/* header section end */

/* main section  */
.change-habits {
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.change-habits-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.change-habits-text p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 3rem;
}
.habits-photo img {
  margin-bottom: 1.8rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.habits-photo h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.45rem;
}
.habits-photo p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.change-habits-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.run-extra-miles {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-bottom: 5rem;
}
.run-extra-photo img {
  width: 100%;
  height: 90%;
  border-radius: 18px;
}
.run-extra-text,
.run-extra-photo {
  width: 50%;
}
.run-extra-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.run-extra-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2rem;
}
.training-experience-section {
  width: 80%;
  height: 37.5rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.training-experience-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.training-experience-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 3.5rem;
}

.training-experience-photo {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.training-photo-1 {
  grid-column: span 3;
  grid-row: span 5;
  background-image: url("../images/exercise1.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: overlay;
}
.training-photo-1 p {
  position: relative;
  top: 11rem;
  left: 3rem;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.training-photo-2 {
  grid-column: span 6;
  grid-row: span 5;
  background-image: url("../images/exercise2.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: overlay;
}
.training-photo-2 p {
  position: relative;
  top: 3rem;
  left: 3rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.training-photo-3 {
  grid-column: span 3;
  grid-row: span 5;
  background-image: url("../images/exercise3.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.training-photo-3 p {
  position: relative;
  top: 11rem;
  left: 3rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.training-photo-4 {
  grid-column: span 5;
  grid-row: span 5;
  background-image: url("../images/exercise4.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.training-photo-4 p {
  position: relative;
  top: 3rem;
  left: 20rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.training-photo-5 {
  grid-column: span 3;
  grid-row: span 5;
  background-image: url("../images/exercise5.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: overlay;
}
.training-photo-5 p {
  position: relative;
  top: 11rem;
  left: 3rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.training-photo-6 {
  grid-column: span 4;
  grid-row: span 5;
  background-image: url("../images/exercise6.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: overlay;
}
.training-photo-6 p {
  position: relative;
  top: 11rem;
  left: 3rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.bmi-calculator-section {
  width: 100%;
  height: 100%;
  margin-bottom: 7rem;
  background: rgb(34, 34, 34);
  padding: 3rem 0rem;
}
.bmi-main-section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.bmi-chart {
  text-align: left;
}
.bmi-chart td,
th {
  padding: 1.2rem;
}
.bmi-chart th {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.bmi-chart td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.bmi-chart h1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 3.7rem;
}
.bmi-calculator h1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.bmi-calculator p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 2rem;
}
.bmi-calculator-fields {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}
#input-1 {
  grid-column: span 6;
}
#input-2 {
  grid-column: span 6;
}
#input-3 {
  grid-column: span 6;
}
#input-4 {
  grid-column: span 6;
  border-right: 20px solid transparent;
}
#input-5 {
  grid-column: span 12;
  padding: 0.7rem;
  border-right: 20px solid transparent;
}
.bmi-calculator-fields input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}
.bmi-calculator-fields select {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
.bmi-outer-text {
  width: 40%;
  color: white;
  margin: 0 auto;
  margin-bottom: 5.5rem;
}
.bmi-outer-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.bmi-outer-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* main section end */

/* footer section  */
/* footer section end */
